* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
header img {
  width: 250px;
  height: 30%;
  display: block;
}
header h2 {
  font-size: 45px;
  margin-top: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: pointer;
  padding: 1px 5%;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.content a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-weight: bold;
  background-color: rgb(244, 240, 240);
  border-radius: 50px;
  min-width: 500px;
  min-height: 90px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.3s;
  flex-direction: column;
}
.content .left {
  padding-right: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .button:hover {
  filter: saturate(0.9);
  transform: translateY(-10px);
  box-shadow: #8f8b8b 5px 4px 10px;
}
.wallet .tiny-object {
  box-sizing: border-box;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: green;
  margin-right: 20px;
}
.wallet {
  display: flex;
  filter: saturate(0.5);
  transition: 0.3s;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}
.wallet p {
  margin: 5px 0px;
  font-size: 20px;
}
.wallet img {
  padding: 2px;
  height: 70px;
  width: 70px;
  z-index: -3;
  object-fit: cover;
  border-radius: 50%;
  background-color: #fff;
}
.content .wallet:hover {
  filter: saturate(0.9);
}

.down {
  background-color: goldenrod;
  width: 100%;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 825px) {
  .content a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border-radius: 50px;
    width: 330px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
  }

  header img {
    width: 200px;
  }
  .content .left {
    padding-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 290px) {
  .content a img {
    width: 30px;
  }
}

@media screen and (max-width: 415px) {
  .content a img {
    width: 60px;
  }
  header img {
    width: 100px;
  }
  header h2 {
    font-size: 15px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 560px) {
  header img {
    width: 150px;
  }
  header h2 {
    font-size: 30px;
    margin-top: 30px;
  }
}
